h1{
    text-align: center;
    background-color:bisque;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
   
    
}

.card{
    margin: 80px;
    background-color: slategrey;
   
}
.container-fluid{
     height: auto;
    background-image:url("https://media.istockphoto.com/id/1355553989/photo/aspiration-concept.jpg?b=1&s=170667a&w=0&k=20&c=oEuKFacG5-GBmXTMLLFFNqFCn43n7aQ2XdI6DNYvdgg=");
    background-position:center;
    background-size: cover;
    background-attachment: fixed;
    
     
     
}
#quotes{
    font-weight: bolder;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:black
}
.card-header{
    color:crimson;
    font-size: 20px;
    font-weight: bold;
}


#btn{
    text-align: center;
    margin-top: 30px;
}